* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

/* .container {
  margin: auto;
  width: 500px;
  max-width: 90%;
} */

.container {
  margin:20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 250px;
  font-size: 30px;
  text-align: center;
  background-size: cover;
  border:palegoldenrod;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  width: 100%;
  height: 100%;
  padding: 75px;
  background: rgba(245, 243, 243, 0.884);
}

.form-group {
  width: 30%;
  height: 100%;
  padding: 5px;
  border-radius: 4px;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgba(245, 243, 243, 0.884);
  padding: 0px;
}

.navbar a {
  color: black;
  font-size: 20px;;
  text-decoration: none;
  margin: 5px;
}

.navbar a:hover {
  text-decoration: underline;
  color: rgba(52, 70, 152);
}

.route {
  width: 100%;
  min-height: calc(100vh - 50px)
}

body {
  background-color:white;
  font-family: 'Crimson Text', serif;
}
.nav-logo{
  height: 60px;
  width: 70px;
}
.hotel-Form{
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.edit-button:hover {
  background-color: #cc851c;
  color: white;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  
}
.edit-button2{
  background-color: rgb(125, 241, 110); 
  color: black; 
  border: none;
  
}
.edit-button2:hover {
  background-color: #0a9c1e;
  color: white;
}
.edit-button{
  background-color: rgb(241, 211, 110); 
  color: black; 
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.grid > span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgba(245, 243, 243, 0.884);

  position:relative;
  padding: 10px 10px 0px 10px;
  bottom:0;
  width:100%;
  height:50px; 
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:rgb(216, 225, 222);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

