.container {
    margin:20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    width: 100%
  }
  
  .cell {
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
